*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 610px;
    background-color: rgba(255, 99, 71, 0);
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    background-attachment: fixed;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 80px;
    margin-top: none;
    align-items: center;
    padding: 14px 30px;
    background-color: rgba(170, 170, 170, 0);
}
ul{
    display: flex;
    list-style: none;
}
li, a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease 0s;
}
li:hover, a:hover{
    color:rgb(255, 162, 23);
    text-shadow: 2px 2px 4px white;
}

.txt1{
    margin-top: 200px;
    margin: 100px;
    font-size: 110px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgba(255, 99, 71, 0);
}
.txt2{
    margin: 100px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}
.ordernow{
    margin-top: 20px;
    margin-left: 100px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.ordernow:hover{
    background-color: rgb(255, 162, 23);
    color: black;
}

/*HALAMAN KEDUA*/
.menus{
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 1600px;
    color: white;
    display: grid;
    text-align: center;
    padding-bottom: 100px;
}
.menukanan{
    text-align: center;
    padding-top: 200px;
    margin: 0;
    font-size: 45px;
    text-shadow: 1px 1px 3px rgb(255, 176, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.listmenu{
    justify-content: center;
    gap: 50px;
    display: grid;
    grid-template-areas: 
    "satu dua tiga"

    ;
}
.satu, .dua, .tiga, .empat, .lima, .enam, .tujuh, .del, .semb{
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    color: black;
    background-repeat: no-repeat;
    transition: all 1s ease 0s;
}
.satu:hover, .dua:hover, .lima:hover, .tujuh:hover, .semb:hover{
    background-size: 150%;
}
.tiga:hover, .empat:hover, .enam:hover, .lima:hover, .del:hover{
    background-size: 230%;
}
.satu{
    background-image: url(https://images.unsplash.com/photo-1593246049226-ded77bf90326?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1575&q=80);
    background-size: 100%;
    background-position:center
}
.dua{
    background-image: url(https://images.unsplash.com/photo-1552539618-7eec9b4d1796?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=433&q=80);
    background-size: 100%;
    background-position:center
}
.tiga{
    background-image: url(https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1400&q=80);
    background-size: 100%;
    background-position:center
}
.empat{
    background-image: url(https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1400&q=80);
    background-size: 100%;
    background-position:center
}
.lima{
    background-image: url(https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60);
    background-size: 100%;
    background-position:center
}
.enam{
    background-image: url(https://images.unsplash.com/photo-1589375890993-7b568c0b8b1c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Njd8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60);
    background-size: 100%;
    background-position:center
}
.tujuh{
    background-image: url(https://images.unsplash.com/photo-1593246049226-ded77bf90326?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1575&q=80);
    background-size: 100%;
    background-position:center
}
.del{
    background-image: url(https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1400&q=80);
    background-size: 100%;
    background-position:center
}
.semb{
    background-image: url(https://images.unsplash.com/photo-1552539618-7eec9b4d1796?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=433&q=80);
    background-size: 100%;
    background-position:center
}
.order{
    background-color: rgb(255, 147, 6);
    color: white;
    margin-top: 10px;
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
}
.order:hover{
    background-color: rgb(105, 105, 105);
    color: black;
}
/*AKHIR HALAMAN KEDUA*/


/*HALAMAN KETIGA ATAU HALAMAN REVIEW*/
.review{
    width: 100%;
    padding-top: 120px;
    font-size: 50px;
    height: 700px;
    justify-content: center;
    display: grid;
    background-color: rgb(0, 0, 0);
    color: rgb(233, 233, 233);
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: 200%;
    background-attachment: fixed ;

}
.revieww{
    text-align: center;
}
.containerisi{
    width: 650px;
    height: auto;
    background-color: rgba(255, 10, 10, 0);
}
textarea{
    border-radius: 50px;
    border-color: none;
    width: 100%;
    height: 50px;
    resize: none; /*agar ukuran text area tidak bisa diubah*/
    text-align: center;
    padding-top: 20px;
}
.input{
    background-color: rgb(255, 174, 0);
    color: white;
    margin-top: 50px;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
    margin-bottom: 100px;
}
.input:hover{
    background-color: rgb(255, 123, 0);
    color: rgb(255, 255, 255);
}
/*AKHIR HALAMAN KETIGA ATAU HALAMAN REVIEW*/

/*FOOTER*/
footer{
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}